.home-page-layout {
  height: 1000px;
  background-image: url("../../../../assets/flyss.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;  
  align-items: start;
  justify-content: space-around;
  padding-top: 100px;
}
